.sonata-bc .navbar-form {
    display: inline-block;
    float: left;
}
.sonata-bc .navbar-form .btn-flat {
    background-color: #EEE;
    border-color: #CCC;
}
.sonata-bc .left-side div,
.sonata-bc .left-side span,
.sonata-bc .left-side p {
    color: #F6F6F6;
}
.skin-black .sidebar > .sidebar-menu > li:last-of-type {
    border-bottom: 1px solid #444;
}

ul.admin-actions {
    list-style: none;
    float: right;
}
ul.admin-actions li {
    display: inline-block;
    height: 38px;
    padding: 14px;
}
